.u-center-text {
  text-align: center;
}
.u-margin-bottom-5 {
  margin-bottom: 0.5rem;
}
.u-margin-bottom-10 {
  margin-bottom: 1rem;
}
.u-margin-bottom-20 {
  margin-bottom: 2rem;
}
.u-margin-bottom-80 {
  margin-bottom: 8rem;
}
